/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 */

body {
    width: 100%;
    margin: 0px;
    position: relative;
    text-align: center;
    background-color: #21252b;
    color: #ebebeb;
    font-family: sans-serif;
}

footer {
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 15px 0px;
    background-color: #282c34;
    font-size: 12px;
}

#container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

form {
    font-size: 13px;
}

input[type=text] {
    border-bottom: 1px solid #fff;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: transparent;
    height: 30px;
    width: 300px;
    margin-bottom: 20px;
    padding-left: 10px;
}

input[type=text]:focus {
    color: #ebebeb;
    border-bottom: 1.5px solid #4fc3c5;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    outline: none;
}

input[type=submit] {
    background-color: #4fc3c5;
    width: 310px;
    padding: 15px 0px;
    border: 0px;
}

input[type=submit]:hover {
    background-color: #98edee;
}

input[type=submit]:hover, input[type=submit]:focus {
    outline: none;
}
