/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 */

body {
    width: 100%;
    position: relative;
    text-align: center;
    background-color: #21252b;
    color: #ebebeb;
}

footer {
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0;
    text-align: center;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 15px 0px;
    background-color: #282c34;
    font-size: 12px;
}

#container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.title {
    font-family: 'Consolas Regular';
}
